@import "bootswatch/dist/darkly/bootstrap.min.css";
@import "@devexpress/dx-react-grid-bootstrap4/dist/dx-react-grid-bootstrap4.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}